.part1{
    height: 150px;
    padding: 15px 28px;
}
.part1 span{
    font-size: 36px;
}
.part1 .am-fr{
    font-size: 22px;
    color: #8a8a8a;
}

.am-table{
    height: 128px;
    margin-top: -1px;
    background-color: #ffffff;
}
.am-table span{
    font-size: 22px;
    color: #8a8a8a;
}
.am-table i{
    font-size: 22px;
}
.am-table .am-text-center{
    font-size: 32px;
}

.part2{
    height: 226px;
    padding: 40px 28px;
}
.part2 .am-u-sm-3{
    width: 146px;
    height: 146px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background: url("../i/picture/logo2.jpg") no-repeat center;
    background-size: 180px;
}
.part2 .am-u-sm-8{
    margin-top: 15px;
    margin-left: 10px;
}
.part2 p{
    font-size: 32px;
    color: #333333;
}
.part2 span{
    font-size: 28px;
    color: #8a8a8a;
}
.part2 i{
    position: absolute;
    right: 20px;
    margin-top: 40px;
    font-size: 32px;
    color: #8a8a8a;
}

.part3{
    height: 80px;
    padding: 15px 28px;
}
.part3 span{
    font-size: 32px;
    padding-left: 0;
}
.part3 span i{
    font-size: 32px;
    color: #8a8a8a;
}

.part4{
    font-size: 28px;
    margin-top: -1px;
    padding-left: 15px;
    padding-right: 15px;
}

.part5{
    margin-top: -1px;
    padding-left: 15px;
    padding-right: 15px;
}

.part5 .am-badge{
    padding: 12px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    font-size: 24px;
    color: #8a8a8a;
    background-color: #ffffff;
    font-weight: normal;
    border-radius: 4px;
}